<style>
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4, h5, h6, p, ul {
    color: #24292e !important;
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important;
    text-transform: none !important;
  }

  small {
    font-size: 0.75em !important;
    vertical-align: middle !important;
  }

  ul {
    margin: 0 0 0 2em !important;
  }

  .title {
    font-size: 2em !important;
    margin-bottom: 5rem !important;
  }

  .author {
    margin: 0 !important;
  }

  .date {
    font-size: 2rem !important;
    margin: 0 !important;
  }

  div.sourceCode {
    margin: 0;
  }

  pre.sourceCode {
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 15px auto;
  }

  pre code {
    max-height: 100% !important;
  }

  .fragment--align-left {
    font-size: 2rem;
    margin: 2rem 0;
    padding: 0 3rem;
    text-align: left;
  }

  .chapter h3,
  .chapter p {
    color: white !important;
  }

  .chapter h3 {
    font-size: 1em;
    letter-spacing: 4px;
    margin-bottom: 1em;
  }

  .slide-number {
    top: 8px;
    bottom: unset !important;
  }
</style>
